
/* Social Media Footer Styling */
.footer {
    background-color: white ;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.social-icon {
    padding: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icon a img {
   
    transition: filter 0.3s ease, transform 0.3s ease;
}

.social-icon:hover a img {
    filter: grayscale(0%);
    transform: scale(1.1);
}

/* Secondary Footer Styling */
.secondary-footer {
    background-color: #1a202c; /* Dark gray */
    color: white; /* Light gray */
    text-align: center;
    padding: 15px;
}

.secondary-footer-text {
    font-size: 14px;
}
